@model IEnumerable<CNT2_2210900089_VuVietAnh.Models.THANH_TOAN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhuongThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DON_HANG.MaDH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhuongThuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DON_HANG.MaDH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTT }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTT })
        </td>
    </tr>
}

</table>
